doctype 5
html
  head
    title Aplicación web
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
      #header
        h1 Aplicación para ejercicios del Tema 2
      #content
        block content
      #footer
        a(href="https://github.com/ignaciorecuerda/aplicacion_web.git") Enlace a mi proyecto de gitHub
